src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2e82315b-4ec8-401f-a2ba-6b8380220e90" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demoFlow" doc:id="fa2d60a9-a970-4a82-b4d8-bd4110ea20f1" >
		<http:listener doc:name="Listener" doc:id="06459642-3ca7-40a3-94e2-5aca62da644c" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value='"This is Demo App deployed via CI/CD Jenkins Pipeline"' doc:name="Set Payload" doc:id="c7c085b7-852c-4551-8fd8-571b119b4e82" />
		<logger level="INFO" doc:name="Logger" doc:id="e5dcdb53-de89-49c0-8d0e-755545419fa4" message="#[payload]"/>
	</flow>
</mule>
